<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byd.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.byd.test.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.byd.test.permission.PROVIDER" />

    <permission
        android:name="com.byd.test.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.byd.test.permission.PROVIDER"
        android:label="@string/provider_string"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SecondActivity"
            android:process="com.byd.text.remote" />
        <activity android:name=".activity.MessengerActivity"></activity>
        <activity android:name=".activity.UserManagerActivity">
        </activity>
        <activity android:name=".activity.ProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.MessengerService"
            android:process=":messenger" />
        <service
            android:name=".service.UserManagerService"
            android:process=":user_aidl" />

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.byd.test.provider"
            android:permission="com.byd.test.permission.PROVIDER"
            android:process=":provider" />


    </application>

</manifest>